.header {
  padding: 35px 0;
  background-color: $white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &__nav-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: calc(100% - 185px);
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.logo {
  width: 185px;

  &__link {
    display: block;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    display: block;
    padding: 0 15px;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: color ease-in-out 0.3ss;

    &__link:hover {
      color: green;
    }
  }
}
